*~
#*#
node_modules/
package-lock.json
index.htmliso-images
Gemfile.lock
*.html
*.pdf
generated/
.asciidoctor/
extra/
docs/anwendungsentwicklung/oop-java-einstieg/lampe-schalter/
vendor/
_build/
*.class
docs/anwendungsentwicklung/oop-java-einstieg/src/bluej-project/